<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="max-width: 200%;">
    <!-- <div class="container" style="height: 60px; width: 100vh; background-color: black"> -->
    <h4 class="container" style="height: 60px; width: 100%; background-color: black; color: aliceblue; text-align: center; margin-top: 5px;">Seller Dashboard</h4>
    
    <div class="container" style="justify-content: center; align-items: center; display: flex; height: 100%; ">



   <form action="/" method="POST">
 
            <label for="prodname">Product Name:</label>
            <input type="text" id="prodname" name="prodname">
       
      
            <label for="price">Selling Price:</label>
            <input type="number" id="price" name="price">
     

            <label for="stock">Stock:</label>
            <input type="text" id="stock" name="stock">

        
            <button type="submit" class="btn" style="background-color: black; color: aliceblue;" >Add Item</button>
        </div>
    </form>
 
        <br>

    <div class="container" style="justify-content: center; align-items: center; display: flex; height: 100%; ">
        <table class="center" style=" width: 500px; ">
        
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Delete</th>
            </tr> 
            <% total = 0 %>
            <% for (let i=0; i < itms.length; i++){ %>
                <% total = total + (itms[i])['dataValues']['price'] * (itms[i])['dataValues']['stock'] %>
                <tr>
                    <td>
                    <%= (itms[i])['dataValues']['prod_name'] %>
                    </td>
                    <td>
                    <%= (itms[i])['dataValues']['price'] %>
                    </td>
                    <td>
                    <%= (itms[i])['dataValues']['stock'] %>
                    </td>
                    <td>
                        <form action="/del" method="POST" >
                            <input type="hidden" name="id" value="<%= (itms[i])['dataValues']['id']%>" >
                            <button class="btn" style="background-color: black; color: aliceblue;" type="submit">Delete</button> 
                        </form>
                    </td>
                </tr>
            <% } %>
        
        </table>
       
    </div>
    <br>
    <br>
        <p style="text-align: center; ">Total price of all the items in stock: <%= total %></p>
  

   
</body>

</html>

